:root{
    --dark-blue: #12232E;
    --lighter-blue: #007CC7;
    --light-blue: #EEFBFB;
}
.container {
    margin-top: 40px;
}
.sideView {
    background-color: var(--dark-blue);
    height: 600px;
}
.commandView {
    background-color: var(--lighter-blue);
    height: 600px;
}