:root{
    --dark-blue: #12232E;
    --lighter-blue: #007CC7;
    --light-blue: #EEFBFB;
}
.container {
    margin-top: 40px;
}
.sideView {
    background-color: var(--dark-blue);
    height: 100%;
    overflow-y: auto;
}
.commandView {
    background-color: var(--lighter-blue);
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

html, body, #root, #root>div, #root>div>div {
    height: 100%
}