.inputGroup {
    margin-bottom: 10px;
}
#sideViewContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#sideViewGoButton {
    margin: 0 20%;
    background-color: var(--lighter-blue);
}

.label {
    background-color: var(--lighter-blue);
    font-weight: bold;
    font-size: large;
}

Table {
    background-color: var(--light-blue);
    margin-left: 0;
}

td, th {
    text-align: center;
}
#quantitativeInfoContainer {
    padding: 10px 20px;
    margin-right: 0;
}
#quantitativeInfoContainer>p {
    margin: 0;
}
Col {
    padding: 0;
}